



<html>
<h1>The club's page</h1>

<% if logged_in? %>
  <p> Hey, accède au club <a href="/club">ici</a></p>

<% else %>

  <p>Si tu veux connaître les autres membres, il faut <a href="/users/new">s'inscrire</a></p>
  <br>
  <p>Déjà partie du club ?<a href="/login">clique ici</a></p>

  <% end %>
</html>
